@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<table>
    <tr>
        <th>ID</th>
        <th>Blog Title</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
        <td>@item.BlogID</td>
        <td>@item.BlogTitle</td>
        </tr>
    }
    
</table>

